.signup {
    background-color: $darknavy;
    background-image: url(./../../images/signup-bgi.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 220px) 100%;
    
    &__inner-wrapper {
    }
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 102px;
        padding-bottom: 102px;
    }
    
    &__heading {
        max-width: 415px;
        width: 100%;
        font-family: 'SpaceMono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #FFFFFF;
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }
    
    &__link {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background-color: $lightgrey;
        border-radius: 4px;
    }
    
    &__link-img {
        margin-right: 12px;
    }
    
    &__link-text-top {
        font-family: 'SpaceMono';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.446429px;
        color: $darknavy;
    }
    
    &__link-text-bottom {
        font-family: 'SpaceMono';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.892857px;
        color: $darknavy;
    }
}

@media only screen and (max-width:850px) {
    .signup {
        background-color: $darknavy;
        background-image: url(./../../images/signup-bgi.svg);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        
        &__inner-wrapper {
        }
        
        &__container {
            display: flex;
            flex-direction: column;
            padding-top: 62px;
            padding-bottom: 62px;
        }

        &__heading {
            text-align: center;
            margin-bottom: 40px;
        }
        
    }
}

@media only screen and (max-width:458px) {
    .signup {
        &__heading {
            font-size: 32px;
            line-height: 32px;
        }
    }
}